@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    background-color: rgb(65, 84, 107);
    font-family: 'Arimo', sans-serif;
}


.incorrect {
    background-color:yellow;
}