@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    background-color: rgb(39 39 42);
    font-family: 'Arimo', sans-serif;
}

.inputform{
    width: 75%;
}

.inputstring{
    width:100%;
}


.incorrect {
    background-color:yellow;
}