@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    background-color: rgb(34, 44, 56);
    background-image: url("./img/particles.png");
    font-family: 'Arimo', sans-serif;
    z-index:-50;
    
}

.incorrect {
    background-color:yellow;
}

#root {
    background-color:rgba(40, 40, 40, 0.1);
    width:100%;
    height:100vh;
    z-index: -10;
}